/build/
/src_OLD/
nbproject/private/private.properties
nbproject/project.properties
nbproject/build-impl.xml
nbproject/private/private.xml
src/Imoveis/GravaCodigo.java
nbproject/private/private.properties
*.properties
src_OLD_NEW/
